           <div id="main-content" class="main-content container-fluid">
            <!-- // page head -->

            <div id="page-content" class="page-content">
              <section>
                <div class="row-fluid margin-top20">
                  <div class="span12">
                    <div class="widget widget-simple">
                      <div class="widget-header">
                        <h4><i class="fontello-icon-user"></i>Cliente</h4>
                      </div>
                      <div class="widget-content">
                        <ul class="form-list label-left list-bordered dotted">
                         <li class="section-form">
                           <h4>Dados pessoais</h4>
                         </li>
                         <li class="control-group">
                          <label class="control-label" for="accountPrefix">Nome</label>
                          <div class="controls">
                            <%= @cliente.nome %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">CPF</label>
                          <div class="controls">
                            <%= @cliente.cpf %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">E-mail</label>
                          <div class="controls">
                            <%= @cliente.email %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Telefone</label>
                          <div class="controls">
                            <%= @cliente.tel %>
                          </div>
                        </li>
                      </ul>
                      <ul class="form-list label-left list-bordered dotted">
                         <li class="section-form">
                           <h4>Dados da empresa</h4>
                         </li>
                         <li class="control-group">
                          <label class="control-label" for="accountPrefix">Empresa</label>
                          <div class="controls">
                            <%= @cliente.empresa %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Razão Social</label>
                          <div class="controls">
                            <%= @cliente.razao %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">CNPJ</label>
                          <div class="controls">
                            <%= @cliente.cnpj %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Endereço</label>
                          <div class="controls">
                            <%= @cliente.endereco %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Bairro</label>
                          <div class="controls">
                            <%= @cliente.bairro %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">CEP</label>
                          <div class="controls">
                            <%= @cliente.cep %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Cidade</label>
                          <div class="controls">
                            <%= @cliente.cidade %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Estado</label>
                          <div class="controls">
                            <%= @cliente.estado %>
                          </div>
                        </li>
                      </ul>
                      <div class="form-actions">
                        <%= link_to 'Editar', edit_cliente_path(@cliente), class: "btn btn-blue" %>
                        <%= link_to 'Voltar', clientes_path, class: "btn" %>
    </div>

                        

                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>