<h1>Listagem de outdoors</h1>

<table>
  <tr>
    <th>Número</th>
    <th>Endereço</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Valor</th>
    <th>Sentido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outdoors.each do |outdoor| %>
  <tr>
    <td><%= outdoor.numero %></td>
    <td><%= outdoor.endereco %></td>
    <td><%= outdoor.bairro %></td>
    <td><%= outdoor.cidade %></td>
    <td><%= humanized_money_with_symbol outdoor.valor %></td>
    <td><%= outdoor.sentido %></td>
    <td><%= link_to 'Show', outdoor %></td>
    <td><%= link_to 'Edit', edit_outdoor_path(outdoor) %></td>
    <td><%= link_to 'Destroy', outdoor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Outdoor', new_outdoor_path, class: "button" %>
