<p>
  <b>Numero:</b>
  <%= @outdoor.numero %>
</p>

<p>
  <b>Endereco:</b>
  <%= @outdoor.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @outdoor.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @outdoor.cidade %>
</p>

<p>
  <b>Sentido:</b>
  <%= @outdoor.sentido %>
</p>
<p>
  <b>Valor:</b>
  <%= humanized_money_with_symbol @outdoor.valor %>
</p>


<%= link_to 'Edit', edit_outdoor_path(@outdoor) %> |
<%= link_to 'Back', outdoors_path %>
