<div class="form-dark">
  <%= form_for [:admin, @parceiro], :html => {:multipart => true, :class => 'form-horizontal', 'data-validate' => "parsley" } do |f| %>
  <%= error_messages_for @parceiro %>
  
  <fieldset>
    <ul class="form-list label-left list-bordered dotted">
      <li class="control-group">
        <label class="control-label" for="accountPrefix">Nome *</label>
        <div class="controls">
          <%= f.text_field :nome, 'data-required' => "true"  %>
        </div>
      </li>
      <li class="control-group">
        <label class="control-label" for="accountPrefix">Enviar logo do parceiro</label>
        <div class="controls">
         <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
          <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"> 
            <% unless @parceiro.logo.blank? %>
            <%= image_tag @parceiro.logo.url(:small) %>
            <% end %>
          </div>
          <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">

          </div>
          
          <span class="btn btn-file" style="vertical-align:top">
           <span class="fileupload-new">Selecionar imagem</span> 
           <span class="fileupload-exists">Mudar</span>
           <%= f.file_field :logo, :class => 'foto_outdoor_input'  %>  
         </span>
         <a href="#" class="btn btn-red fileupload-exists" data-dismiss="fileupload" style="vertical-align:top">Remover</a>
       </div>
     </div>
   </li>
   <li class="control-group">
    <label class="control-label" for="accountPrefix">E-mail *</label>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "", 'data-trigger'=> "change", 'data-required' => "true", 'data-type' => "email" %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">Telefone</label>
    <div class="controls">
      <%= f.text_field :tel, :placeholder => "",'data-required' => "true"  %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">CNPJ</label>
    <div class="controls">
      <%= f.text_field :cnpj, :placeholder => "" %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">Endereço *</label>
    <div class="controls">
      <%= f.text_field :endereco, 'data-required' => "true"  %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">Bairro </label>
    <div class="controls">
      <%= f.text_field :bairro %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">CEP</label>
    <div class="controls">
      <%= f.text_field :cep, 'data-required' => "true"  %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">Cidade</label>
    <div class="controls">
      <%= f.text_field :cidade, :value => "Teresina" %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">Estado</label>
    <div class="controls">
      <%= f.select( :estado, {"AC"=>"Acre", "AL"=>"Alagoas", "AM"=>"Amazonas", "AP"=>"Amapá","BA"=>"Bahia","CE"=>"Ceará","DF"=>"Distrito Federal","ES"=>"Espírito Santo","GO"=>"Goiás","MA"=>"Maranhão","MT"=>"Mato Grosso","MS"=>"Mato Grosso do Sul","MG"=>"Minas Gerais","PA"=>"Pará","PB"=>"Paraíba","PR"=>"Paraná","PE"=>"Pernambuco","PI"=>"Piauí","RJ"=>"Rio de Janeiro","RN"=>"Rio Grande do Norte","RO"=>"Rondônia","RS"=>"Rio Grande do Sul","RR"=>"Roraima","SC"=>"Santa Catarina","SE"=>"Sergipe","SP"=>"São Paulo","TO"=>"Tocantins"},{:selected => "Piauí"}, { :class => 'selecttwo-s' }) %>
    </div>
  </li>

</ul>
</fieldset>
<div class="form-actions">
 <%= link_to '', admin_parceiros_path, class: "btn fontello-icon-left-1" %> <%= f.submit class: "btn btn-blue" %>
</div>
<% end %>
