           <div id="main-content" class="main-content container-fluid">
           	<!-- // page head -->

           	<div id="page-content" class="page-content">
           		<section>
           			<div class="row-fluid margin-top20">
           				<div class="span12">
           					<div class="widget widget-simple">
           						<div class="widget-header">
           							<h4><i class="fontello-icon-calendar"></i> Sign up</h4>
           						</div>
           						<div class="widget-content">
           							<div class="form-dark">

           								<%= simple_form_for(resource, :as => resource_name, :html => {:class => 'form-horizontal' } , :url => registration_path(resource_name)) do |f| %>
           								<%= f.error_notification %>
           									<fieldset>
           									<ul class="form-list label-left list-bordered dotted">
           										<li class="control-group">
           											<label class="control-label" for="accountPrefix">Nome</label>
           											<div class="controls">
           												<%= f.text_field :name, :required => false, :autofocus => true %>
           											</div>
           										</li>
           										<li class="control-group">
           											<label class="control-label" for="accountPrefix">E-mail</label>
           											<div class="controls">
           												<%= f.text_field :email, :required => true, :autofocus => true %>
           											</div>
           										</li>
           										<li class="control-group">
           											<label class="control-label" for="accountPrefix">Senha</label>
           											<div class="controls">
           												<%= f.password_field :password, :required => true, :autofocus => true %>
           											</div>
           										</li>
           										<li class="control-group">
           											<label class="control-label" for="accountPrefix">Confirme a senha</label>
           											<div class="controls">
           												<%= f.password_field :password_confirmation, :required => true %>
           											</div>
           										</li>
           									</ul>
           								</fieldset>

           									<div class="form-actions">
           										<%= f.button :submit, "Sign up" %>
           									</div>
           									<% end %>

           									<%= render "devise/shared/links" %>
           								</div>
           							</div>
           						</div>
           					</div>
           				</div>
           			</section>
           		</div>

