<%= simple_nested_form_for(@reserva) do |f| %>
  <% if @reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% @reserva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="five columns">
    <label>Cliente</label>
      <%= f.collection_select :cliente_id, Cliente.all, :id, :nome %>
  </div>
  <div class="five columns">
    <label>Início da reserva</label>
    <%= f.date_select :inicio_reserva, {:order => [:day, :month, :year], :date_separator => "/", :start_year => Time.now.year},{:class => "select_date"}  %>
    <label>Término da reserva</label>
    <%= f.date_select :termino_reserva, {:order => [:day, :month, :year], :date_separator => "/", :start_year => Time.now.year},{:class => "select_date"} %>
  </div>
  <div class="twelve columns">
    <label>Escolha os outdoors</label>
    <%= f.collection_check_boxes :outdoor_ids, Outdoor.all, :id, :full_title, :wrapper_html => { :class => 'options' } %>

  </div>

  </fieldset>
  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
