<%= form_for @reserva do |f| %>
<fieldset>
   <legend>Outdoors disponíveis</legend>
  <div class="six columns">
  	<%= f.collection_check_boxes :outdoor_ids, @outdoors, :id, :full_title, :wrapper_html => { :class => 'options' } %>
  </div>
  <div class="six columns">
    <label>Cliente</label>
      <%= f.collection_select :cliente_id, Cliente.all, :id, :nome %>
  </div>
  <div class="six columns">
    <label>Valor</label>
     <div id="valor"></div>
     <%= f.hidden_field :valor %>
     <%= f.hidden_field :inicio_reserva %>
     <%= f.hidden_field :termino_reserva %>
  </div>
  <hr/>
  <div class="twelve columns">
  	<%= f.submit :class => "button" %>
  </div>
</fieldset>
<% end %>
