
<div class="well well-nice well-box no-border">
  <div class="navbar">
    <div class="navbar-inner">
      <h4 class="title"><i class="fontello-icon-calendar"></i> Listagem</h4>
      <ul class="btn-toolbar pull-right">
        <li class="divider-vertical"></li>
        <li><%= link_to 'Nova Reserva', new_admin_reserva_path, class: "btn btn-green" %></li>
      </ul>
      <!-- // btn-toolbar -->
      <ul class="nav nav-pills pull-right">
        <li class="active"><a data-toggle="tab" href="#tab1A">PDF</a></li>
      </ul>
      <!-- // nav-pills --> 
    </div>
  </div>
  <table class="table boo-table table-striped table-content table-hover">
    <thead>
      <tr>
        <th class="sorting" >Campanha</th>
        <th class="sorting" >Cliente</th>
        <th class="sorting" >Início</th>
        <th class="sorting" >Término</th>
        <th class="sorting" >Criado por</th>
        <th class="sorting" >Valor</th>
      </tr>
    </thead>

    <% @reservas.each do |reserva| %>
    <tr>
      <td><%= link_to reserva.campanha, [:admin, reserva], :class => "text-left" %> <%= status_reserva(reserva.status) %> <%= link_to '', edit_admin_reserva_path(reserva), class: "btn btn-blue btn-mini fontello-icon-edit" %>
        <%= link_to '', [:admin, reserva], method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-yellow btn-mini fontello-icon-trash" %></td>
      <td>
      <%= "#{reserva.cliente.nome} / #{reserva.cliente.empresa}" unless reserva.cliente.blank? %>
    
      </td>
      <td><%= reserva.inicio_reserva.strftime("%d/%m/%Y") %></td>
      <td><%= reserva.termino_reserva.strftime("%d/%m/%Y") %></td>
      <td><%= "#{reserva.usuario.nome} | #{reserva.created_at.strftime('%d/%m/%Y - %H:%M:%S')}" %></td>
      <td><%= humanized_money_with_symbol reserva.valor %></td>
      </tr>
      <% end %>
    </table>
    <div class="action-table">
      <div class="btn-toolbar pull-left" style="display:none">
        <div class="action-select-wraper">
         <span class="arrow-table-action"></span>
         <select name="actionTable" id="actionTable" class="selectpicker-boo " >
          <option value="" selected="selected">Action for selected...</option>
          <option value="validate">Validate</option>
          <option value="delete">Delete</option>
        </select>
        <button type="submit" class="btn btn-boo">Perform the action</button>
      </div>
    </div>
    <ul class="btn-toolbar pull-right">
      <li class="divider-vertical small"></li>
      <li><%= link_to 'Nova Reserva', new_admin_reserva_path, class: "btn btn-green" %></li>
    </ul>
  </div>

</div>                           

