     
                    <%= error_messages_for @reserva %>
                    <div class="widget widget-simple">
                      <div class="widget-header">
                        <h4><i class="fontello-icon-calendar"></i> Nova reserva</h4>
                      </div>
                      <div class="widget-content">
                        <div class="form-dark">
                          <%= form_tag({:action => 'search_outdoor_available'}, :id => "tool-form", :remote => true,:'data-update-target' => 'outdoors_available', :class => 'form-horizontal' ) do %>
                          <fieldset>
                           <legend>Qual o período da reserva?</legend>
                           <div class="input-append">
                                <input data-date-format="dd/mm/yy" type="text" id="inicio_periodo" name="inicio_periodo" class="span9" placeholder="Início" required/>
                                <span class="add-on"><i class="fontello-icon-calendar"></i></span>
                             </div>
                          <div class="input-append">
                                <input data-date-format="dd/mm/yy" type="text" id="termino_periodo" name="termino_periodo" class="span9" placeholder="Fim" required/>
                                <span class="add-on"><i class="fontello-icon-calendar"></i></span>
                             </div>

                        </fieldset>
                        <div class="form-actions">
                        <%= link_to '', admin_reservas_path, class: "btn fontello-icon-left-1 Ttip", title: "Voltar" %>
                        <a href="<%= @reserva %>" class="btn btn-disponibilidade hidden">Veja a Disponibilidade</a>
                         <%= button_tag("", :class => "btn btn-blue fontello-icon-search Ttip", :title => "Buscar disponibilidade") %>
                          
                       </div>
                        <% end %>
                        <div id="outdoors_available">                          
                          

                        </div>
                        <div class="loading" >
                          <h3>Carregando...</h3>
                        </div>
                      </div>
                    </div>
                  </div>
         
    







