      
                    <div class="widget widget-simple">
                      <div class="widget-header">
                        <h4><i class="fontello-icon-calendar"></i>Reserva</h4>
                      </div>
                      <div class="widget-content">
                        <ul class="form-list label-left list-bordered dotted">
                         <li class="control-group">
                          <label class="control-label" for="accountPrefix">Cliente</label>
                          <div class="controls">
                            <%= @reserva.cliente.nome %> / <%= @reserva.cliente.empresa %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Situação</label>
                          <div class="controls">
                            <%= status_reserva(@reserva.status) %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Criado:</label>
                          <div class="controls">
                            <%= @reserva.usuario.nome %>  <%= @reserva.created_at.strftime('%d/%m/%Y - %H:%M:%S') %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Início da reserva:</label>
                          <div class="controls">
                            <%= @reserva.inicio_reserva.strftime("%d/%m/%Y") %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Término da reserva:</label>
                          <div class="controls">
                            <%= @reserva.termino_reserva.strftime("%d/%m/%Y") %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Valor:</label>
                          <div class="controls">
                            <%= humanized_money_with_symbol @reserva.valor %>
                          </div>
                        </li>
                      </ul>
                      <div class="widget widget-box widget-table">
                        <div class="widget-header">
                          <h4><i class="aweso-icon-table"></i> Outdoors reservados</h4>
                        </div>
                        <table class="table table-striped table-condensed table-content boo-table">
                          <thead>
                            <tr>
                              <th>Número</th>
                              <th>Endereço</th>
                              <th>Bairro</th>
                              <th>Cidade</th>
                              <th>Veiculação / Impressão</th>
                              <th>Sentido</th>
                            </tr>
                          </thead>
                          <% @reserva.outdoors.each do |outdoor| %>
                          <tr>
                            <td><%= outdoor.numero %></td>
                            <td><%= outdoor.endereco %></td>
                            <td><%= outdoor.bairro %></td>
                            <td><%= outdoor.cidade %></td>
                            <td>R$ <span class="valor_veiculacao-<%= outdoor.id %>"><%=outdoor.valor_veiculacao %></span> / R$ <span class="valor_impressao-<%= outdoor.id %>"><%= outdoor.valor_impressao %></span></td>
                            <td><%= outdoor.sentido %></td>
                          </tr>
                          <% end %>
                        </table>
                      </div>
                      <div class="form-actions">
                        <%= link_to 'Editar', edit_admin_reserva_path(@reserva), class: "btn btn-blue" %>
                        <%= link_to 'Voltar', admin_reservas_path, class: "btn" %>
                      </div>
                    </div>
                  </div>
      

