<div class="form-dark">
  <%= simple_nested_form_for [:admin,@reserva, @checkin], :html => {:multipart => true,:class => 'form-horizontal', 'data-validate' => "parsley" }  do |f| %>
  <%= error_messages_for @checkin %>
  <ul class="form-list label-left list-bordered dotted">
    <li class="section-form">
      <h4>Outdoors</h4>
    </li>
    <% @checkin.reserva.outdoors.each do |outdoor| %>
    <li class="control-group">
      <label class="control-label" for="accountPrefix"> <%= "#{outdoor.numero} - #{outdoor.endereco}"%></label>
      <div class="controls">
        <%= f.fields_for :foto_checkins do |image| %>
        <div data-provides="fileupload" class="fileupload fileupload-new">
          <div style="width: 200px; height: 120px;" class="fileupload-preview thumbnail">
            <% unless image.object.new_record? %>
              <%= image_tag image.object.file.url(:medium) %>
            <% end %>
          </div>

          <div> 
            <span class="btn btn-file"> 
              <span class="fileupload-new">Selecionar foto</span>
              <span class="fileupload-exists">Mudar</span>
                <%= image.file_field :file, :class => 'foto_outdoor_input'  %>                          
            </span> 
            <a data-dismiss="fileupload" class="btn btn-red fileupload-exists" href="#">Remover</a>
          </div>
        </div>
        <% end %> 
      </div>
    </li>
    <%= f.hidden_field :reserva_id, :value => @checkin.reserva.id %>
    <%= f.hidden_field :outdoor_id, :value => outdoor.id %> 
    <% end %> 
</ul>
<div class="form-actions">
   <%= link_to '', admin_reserva_path(@checkin.reserva), class: "btn fontello-icon-left-1" %> <%= f.submit class: "btn btn-blue" %>
</div>
<% end %>
</div>