      
                    <div class="widget widget-simple">
                      <div class="widget-header">
                        <h4><i class="fontello-icon-check"></i>Checkin</h4>
                      </div>
                      <div class="widget-content">
                        <ul class="form-list label-left list-bordered dotted">

                        <li class="control-group">
                          <label class="control-label" for="accountPrefix"><%= "#{@checkin.reserva.cliente.nome}: #{@checkin.reserva.campanha}" %> </label>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Período:</label>
                          <div class="controls">
                            <%= "#{@checkin.reserva.inicio_reserva.strftime("%d/%m/%Y")} - #{@checkin.reserva.termino_reserva.strftime("%d/%m/%Y")}" %>
                          </div>
                        </li>
                      </ul>
                      <div class="widget widget-box widget-table">
                        <div class="widget-header">
                          <h4><i class="aweso-icon-table"></i> Outdoors</h4>
                        </div>
                        <table class="table table-striped table-condensed table-content boo-table">
                          <thead>
                            <tr>
                              <th>Informações</th>
                              <th>Fotos</th>
                            </tr>
                          </thead>
                          <% @checkin.outdoor_checkins.each do |outdoor_checkin|%>
                          <tr>
                            <td>
                              <h4><%= outdoor_checkin.outdoor.numero %> <small><%= outdoor_checkin.outdoor.sentido %></small></h4>
                              <p class=""><%= outdoor_checkin.outdoor.endereco%> , <%= outdoor_checkin.outdoor.bairro %>, <%= outdoor_checkin.outdoor.cidade %>-<%= outdoor_checkin.outdoor.estado%> <br/><%= outdoor_checkin.outdoor.ponto_referencia%></p>
                            </td>
                            <td >

                            <ul id="gallery" class="thumbnails gallery-small" data-toggle="modal-gallery" data-target="#modal-gallery">            
                               <% outdoor_checkin.foto_checkins.each { |foto|%>
                                 <li class="square-thumb thumbnail show-loading nailthumb-container">
                                        <a data-href="<%= foto.file.url(:large)%>" rel="gallery">
                                          <%= image_tag(foto.file.url(:small), :class => "nailthumb-image") %>
                                        </a>
                                  </li>
                                <% } %>
                                </ul>
                            </td>
                          </tr>
                          <% end %>
                        </table>
                      </div>
                      <div class="form-actions">
                        <%= link_to '', admin_checkins_path, class: "btn fontello-icon-left-1"  %>
                        <%= link_to 'Editar', edit_admin_reserva_checkin_path(@checkin.reserva, @checkin), class: "btn btn-blue" %>
                        
                      </div>
                    </div>
                  </div>
    <%= render 'shared/modal_gallery' %> 

