      
                    <div class="widget widget-simple">
                      <div class="widget-header">
                        <h4><i class="fontello-icon-check"></i>Checkin</h4>
                      </div>
                      <div class="widget-content">
                        <ul class="form-list label-left list-bordered dotted">

                        <li class="control-group">
                          <label class="control-label" for="accountPrefix"><%= "#{@checkin.reserva.cliente.nome}: #{@checkin.reserva.campanha}" %> </label>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Período:</label>
                          <div class="controls">
                            <%= "#{@checkin.reserva.inicio_reserva.strftime("%d/%m/%Y")} - #{@checkin.reserva.termino_reserva.strftime("%d/%m/%Y")}" %>
                          </div>
                        </li>
                      </ul>
                      <div class="widget widget-box widget-table">
                        <div class="widget-header">
                          <h4><i class="aweso-icon-table"></i> Outdoors</h4>
                        </div>
                        <table class="table table-striped table-condensed table-content boo-table">
                          <thead>
                            <tr>
                              <th>Número</th>
                              <th>Endereço</th>
                              <th>Fotos</th>
                            </tr>
                          </thead>
                          <% @checkin.outdoor_checkins.each do |outdoor_checkin|%>
                          <tr>
                            <td><%= outdoor_checkin.outdoor.numero %></td>
                            <td>
                              <%= "#{outdoor_checkin.outdoor.endereco}, #{outdoor_checkin.outdoor.bairro}, #{outdoor_checkin.outdoor.cidade}" %>
                            </td>
                            <td class="thumb-mini">
                            <% outdoor_checkin.foto_checkins.each do |foto|%>
                            
                                  <div class="media-thumb"> 
                                      <a class="img-shadow">
                                       <%= image_tag foto.file.url(:small) %>
                                      </a>
                                  </div>
                            
                            <% end %>
                            </td>
                          </tr>
                          <% end %>
                        </table>
                      </div>
                      <div class="form-actions">
                        <%= link_to 'Editar', edit_admin_reserva_checkin_path(@checkin.reserva, @checkin), class: "btn btn-blue" %>
                        <%= link_to 'Voltar', admin_checkins_path, class: "btn" %>
                      </div>
                    </div>
                  </div>
      

