<div class="form-dark">
  <%= simple_nested_form_for [:admin, @outdoor], :html => {:multipart => true,:class => 'form-horizontal' }  do |f| %>
  <%= error_messages_for @outdoor %>
  <ul class="form-list label-left list-bordered dotted">
    <li class="section-form">
      <h4>Dados de localização</h4>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Número*</label>
      <div class="controls">
        <%= f.number_field :numero, :placeholder => "", :require => true %>
      </div>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Endereço*</label>
      <div class="controls">
        <%= f.text_field :endereco, :placeholder => "" %>
      </div>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Bairro*</label>
      <div class="controls">
        <%= f.text_field :bairro, :placeholder => "" %>
      </div>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Ponto de referência</label>
      <div class="controls">
        <%= f.text_field :ponto_referencia, :placeholder => "" %>
      </div>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Cidade*</label>
      <div class="controls">
        <%= f.text_field :cidade, :placeholder => "" %>
      </div>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Estado</label>
      <div class="controls">
        <%= f.select( :estado, {"AC"=>"Acre", "AL"=>"Alagoas", "AM"=>"Amazonas", "AP"=>"Amapá","BA"=>"Bahia","CE"=>"Ceará","DF"=>"Distrito Federal","ES"=>"Espírito Santo","GO"=>"Goiás","MA"=>"Maranhão","MT"=>"Mato Grosso","MS"=>"Mato Grosso do Sul","MG"=>"Minas Gerais","PA"=>"Pará","PB"=>"Paraíba","PR"=>"Paraná","PE"=>"Pernambuco","PI"=>"Piauí","RJ"=>"Rio de Janeiro","RN"=>"Rio Grande do Norte","RO"=>"Rondônia","RS"=>"Rio Grande do Sul","RR"=>"Roraima","SC"=>"Santa Catarina","SE"=>"Sergipe","SP"=>"São Paulo","TO"=>"Tocantins"},{}, { :class => 'selecttwo-s' }) %>
      </div>
    </li>
    <li class="control-group">
      <label class="control-label" for="accountPrefix">Sentido</label>
      <div class="controls">
       <%= f.select(:sentido,{"Duplo"=>"duplo", "Frontal"=> "frontal", "Bairro / Centro"=> "bairro_centro", "Centro / Bairro"=> "centro_bairro"},{}, { :class => 'selecttwo-s' }) %>
     </div>
   </li>

   <li class="control-group">
    <label class="control-label" for="accountPrefix">Valor do aluguel</label>
    <div class="controls">
      <%= f.text_field :valor, :placeholder => "" %>
    </div>
  </li>
  <li class="control-group">
    <label class="control-label" for="accountPrefix">Enviar fotos</label>
    <div class="controls">
      <%= f.fields_for :foto_outdoors do |image| %>
      <div data-provides="fileupload" class="fileupload fileupload-new">
        <div style="width: 200px; height: 120px;" class="fileupload-preview thumbnail">
          <% unless image.object.new_record? %>
            <%= image_tag image.object.file.url(:medium) %>
          <% end %>
        </div>

        <div> 
          <span class="btn btn-file"> 
            <span class="fileupload-new">Selecionar foto</span>
            <span class="fileupload-exists">Mudar</span>
              <%= image.file_field :file, :class => 'foto_outdoor_input'  %>                           
          </span> 
          <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remover</a>
        </div>
      </div>
      <% end %> 
    </div>
  </li>
</ul>
<div class="form-actions">
  <%= f.submit class: "btn btn-blue" %> <%= link_to 'Voltar', admin_outdoors_path, class: "btn" %>
</div>
<% end %>
</div>