
                    <div class="widget widget-simple">
                      <div class="widget-header">
                        <h4><i class="fontello-icon-user"></i> Outdoor</h4>
                      </div>
                      <div class="widget-content">
                        <ul class="form-list label-left list-bordered dotted">
                         <li class="section-form">
                           <h4>Dados de localização</h4>
                         </li>
                         <li class="control-group">
                          <label class="control-label" for="accountPrefix">Número</label>
                          <div class="controls">
                            <%= @outdoor.numero %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Endereço</label>
                          <div class="controls">
                            <%= @outdoor.endereco %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Bairro</label>
                          <div class="controls">
                            <%= @outdoor.bairro %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Cidade</label>
                          <div class="controls">
                            <%= @outdoor.cidade %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Estado</label>
                          <div class="controls">
                            <%= @outdoor.estado %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Zona</label>
                          <div class="controls">
                            <%= @outdoor.zona %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Sentido</label>
                          <div class="controls">
                            <%= @outdoor.sentido %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Valor da veiculação</label>
                          <div class="controls">
                            <%= humanized_money_with_symbol @outdoor.valor_veiculacao %>
                          </div>
                        </li>
                        <li class="control-group">
                          <label class="control-label" for="accountPrefix">Valor da impressão</label>
                          <div class="controls">
                            <%= humanized_money_with_symbol @outdoor.valor_impressao %>
                          </div>
                        </li>
                      </ul>
                      <div class="form-actions">
                        <%= link_to 'Editar', edit_admin_outdoor_path(@outdoor), class: "btn btn-blue" %>
                        <%= link_to 'Voltar', admin_outdoors_path, class: "btn" %>
                      </div>
                    </div>
                  </div>

