
  <div class="widget widget-simple">
      <div class="widget-header">
          <h4><i class="fontello-icon-check"></i> Disponibilidade
            <br/>
            <small>Período: <%= "#{@inicio_reserva} - #{@termino_reserva}"%></small>
          </h4>
      </div>
      <div class="widget widget-box widget-table">
        <div class="widget-header">
          <h4><i class="aweso-icon-table"></i> Outdoors</h4>
        </div>
        <table class="table table-striped table-condensed table-content boo-table">
          <thead>
            <tr>
              <th>Informações</th>
              <th>Fotos</th>
            </tr>
          </thead>
                <tbody>
                  <% @outdoors.each do |o|
                     outdoor = Outdoor.find(o) %>
                  <tr>
                    <td>
                      <h4><%= outdoor.numero %> <small><%= outdoor.sentido %></small></h4>
                      <p class=""><%= outdoor.endereco%> , <%= outdoor.bairro %>, <%= outdoor.cidade %>-<%= outdoor.estado%> <br/><%= outdoor.ponto_referencia%></p>
                    </td>
                    <td> 
                    <ul id="gallery" class="thumbnails gallery-small" data-toggle="modal-gallery" data-target="#modal-gallery">            
                       <% outdoor.foto_outdoors.each { |foto| %>
                         <li class="square-thumb thumbnail show-loading nailthumb-container">
                                <a data-href="<%= foto.file.url(:medium)%>" rel="gallery">
                                  <%= image_tag(foto.file.url(:small), :class => "nailthumb-image") %>
                                </a>
                          </li>
                        <% } %>
                        </ul>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>

            </div><!-- /content -->
      </div>
    </div>
   <%= render 'shared/modal_gallery' %> 
