<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body class="sidebar-left panel-side">
  <div class="page-container">
    <div id="header-container">
      <div id="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span>
               <span class="icon-bar"></span> </button>
              <a class="brand" href="javascript:void(0);"><img src=""></a>
              <div class="search-global">
                <input id="globalSearch" class="search search-query input-medium" type="search">
                <a class="search-button" href="javascript:void(0);"><i class="fontello-icon-search-5"></i></a> </div>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li class="active"> <a href="dashboard-one.html">Painel</a> </li>
                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="fontello-icon-list-1"></span>Devise <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <%= render 'shared/navigation' %>
                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- // navbar -->

          <div class="header-drawer">
            <div class="mobile-nav text-center visible-phone"> <a href="javascript:void(0);" class="mobile-btn" data-toggle="collapse" data-target=".sidebar"><i class="aweso-icon-chevron-down"></i> Components</a> </div>
            <!-- // Resposive navigation -->
            <div class="breadcrumbs-nav hidden-phone">
              <ul id="breadcrumbs" class="breadcrumb">
                <li><a href="javascript:void(0);"><i class="fontello-icon-home f12"></i> Painel</a> <span class="divider">/</span></li>
                <li class="active">Admin </li>
              </ul>
            </div>
            <!-- // breadcrumbs --> 
            <% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <% end %>
            <% end %>
          </div>
          <!-- // drawer --> 
        </div>
      </div>
      <!-- // header-container -->

      <div id="main-container">
        <div id="main-sidebar" class="sidebar sidebar-inverse">
        <%= render 'shared/profile' %>  
        <!-- // sidebar item - profile -->

        <%= render 'shared/menu_sidebar' %>

        <div class="sidebar-item"></div>
        <!-- // sidebar item --> 

      </div>
      <!-- // sidebar -->

      <%= yield %>

    </div>
    <!-- // main-content --> 

  </div>
  <!-- // main-container  -->

 <%= render 'shared/footer' %>

</div>
<!-- Included JS Files  -->
<%= javascript_include_tag "application" %>
</body>
</html>
